body {
  background-color: #17202a;
}

header {
  height: 10rem;
  padding: 0 10rem;
  /* background-color: red; */
  display: flex;
  align-items: center;

  & div {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & ul {
      display: flex;
      gap: 3.2rem;
      text-transform: uppercase;

      & li a:hover {
        color: #e74c3c;
      }
    }
  }
}

/* ================================================ */

footer {
  height: 10rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/* ================================================ */

.section-accordion {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  margin-top: 6.4rem;

  & li {
    background-color: #212f3c;
    padding: 1.6rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    list-style-position: inside;
    border-left: 0.2rem solid #fff;
    list-style: none;
  }

  & .active-btn {
    background-color: #e74c3c;
    color: #fff;

    &:hover {
      color: hsl(0, 0%, 100%);
      box-shadow: rgb(167, 54, 13) 0px 7px 19px 0px;
    }
  }
}

/* //extra adding accordion-grid */

.accordion-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-question {
  font-weight: bold;
  font-family: "Syne";
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
}

@media screen and (max-width: 980px) {
  .section-form form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-post ol {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .section-post ol {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pagination-section {
  margin: auto;
  display: flex;
  gap: 3.2rem;
}